
.container-general{
    // background-color: rgba(251, 131, 131, 0.386);
    border-radius: 40px 40px 0px 0px;
    margin-top: -50px;
    padding-top: 10px;
    display: block;
    z-index: 100;
  }

  // telephone
@media (min-width: 0px) and (max-width: 768px) {
.aligner-droite{
  margin-top: 30px;
}
}