<!-- Ici page détail d'une collection en fonction de son identifiant -->
<section>
    <article>
        <div class="container-image-couverture-page couleur-element-tempo"
            *ngIf="collection.imageUrl === '' else imageCouv">
        </div>
        <ng-template #imageCouv>
            <img src="{{ collection.imageUrl }}" class="container-image-couverture-page image-de-fond">
        </ng-template>
    </article>
</section>

<section class="container-general">
    <!-- Info sur la collection -->
    <!-- HEADER -->
    <article class="marges">
        <br>
        <div *ngIf=" collection.periodesId.length==1">
            <div class="centrer-sur-horizon" *ngFor=" let periode of collection.periodesId">
                <p class="circle-picto circle-picto-M margin-top-S-negatif" [ngStyle]="{'background': periode.couleur}">
                    <i class="fa-solid {{ collection.picto }}"></i>
                </p>
                <div class="espacement-vertical-S" *ngFor=" let periode of collection.periodesId">
                    <p class="tag tag-L" [ngStyle]="{'background': periode.couleur}">{{ collection.categorie }}</p>
                    <div class="tag tag-with-pastille ">
                        <div class="tag-XS" [ngStyle]="{'background': periode.couleur}"></div>
                        <p>{{ collection.sousCategorie }}</p>
                    </div>
                </div>
                <div class="espacement-vertical-S">
                    <ul>
                        <li class="aligner-droite margin-droite-flexible">
                            <div *ngFor="let periode of collection.periodesId" class="indienne">
                                <p class="tag tag-L" [ngStyle]="{'background': periode.couleur}">{{ periode.label }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div *ngIf="collection.periodesId.length>=2">
            <div class="centrer-sur-horizon">
                <p class="circle-picto circle-picto-M margin-top-S-negatif"
                    [ngStyle]="{'background': setGradientStyle(collection.periodesId)}">
                    <i class="fa-solid {{ collection.picto }}"></i>
                </p>
                <div class="espacement-vertical-S">
                    <p class="tag tag-L" [ngStyle]="{'background': setGradientStyle(collection.periodesId)}">
                        {{ collection.categorie }}
                    </p>
                    <div class="tag tag-with-pastille ">
                        <div class="tag-XS" [ngStyle]="{'background': setGradientStyle(collection.periodesId)}"></div>
                        <p>{{ collection.sousCategorie }}</p>
                    </div>
                </div>
                <div class="espacement-vertical-S">
                    <ul>
                        <li class="aligner-droite margin-droite-flexible">
                            <div *ngFor="let periode of collection.periodesId" class="indienne">
                                <p class="tag tag-L" [ngStyle]="{'background': periode.couleur}">{{ periode.label }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </article>

    <article class="marges">
        <div class="centrer-sur-horizon">
            <h1>{{collection.label}}</h1>
            <div *ngIf="collection.signalement === true" class="espacement-horizontal-M">
                <h2 class="fa-solid fa-triangle-exclamation texte-error"></h2>
            </div>
        </div>

        <div class="espacement-vertical-S"></div>
        <div *ngIf=" collection.description.length <= 1"></div>
        <div *ngIf=" collection.description.length >= 1">
            <p class="conserve-espace-origine">
                <span class="souligner">Description</span>
                : {{ collection.description }}
            </p>
            <!-- 
            <p class="conserve-espace-origine abrege" [ngClass]="{'show-all': showAll}">
                <span class="souligner">Description</span>
                : {{ collection.description }}
            </p>
            <div *ngIf="collection.description.split('\n').length >= 10">
                <button class="espacement-vertical-S btn-primary btn-small " *ngIf="!showAll" (click)="showMore()">Voir
                    plus</button>
            </div> -->

        </div>
        <div class="espacement-vertical-M"></div>
    </article>
    <article class="marges centrer-en-colonne">
        <div class="centrer-sur-horizon espacement-vertical-M">
            <input class="input-recherche" type="search" [(ngModel)]="searchTerm"
                placeholder="Rechercher un élément..." />

            <button class="btn-primary btn-medium centrer-milieu"><i class=" fa-solid fa-magnifying-glass"></i></button>
        </div>
    </article>
    <!-- List des éléments de la collection -->
    <!-- BODY -->
    <article class="marges">
        <ul class="espacement-autour">
            <li *ngIf="collection.elementsId.length === 0">
                <h2 class="centrer-en-colonne"><i class="fa-solid fa-box-open"></i>Aucun élément</h2>
                <!-- a montrer que si utili = le createur -->
                <p class="texte-discret">Vous pouvez en ajouter en cliquant sur le bouton en bas</p>
            </li>
            <li *ngFor="let element of elements  | filter: searchTerm" class="card medium motif-fond-pointille">
                <a [routerLink]="['/elements', element._id]">
                    <!-- <app-element-detail [idElement]="element"></app-element-detail> -->
                    <div class="image-couverture-card-element-tempo couleur-element-tempo"
                        *ngIf="element.imageUrl === '' else imageCouv">
                    </div>
                    <ng-template #imageCouv>
                        <img src="{{ element.imageUrl }}" class="image-couverture-card-element-tempo image-de-fond">
                    </ng-template>
                    <div class="card-paragraphe card-paragraphe-elem motif-fond-pointille">
                        <!-- <p>({{ element._id }})</p> -->
                        <h5><strong>{{ element.label }}</strong></h5>
                        <p class="text-description conserve-espace-origine">{{ element.description }}</p>
                    </div>
                </a>
                <div class="centrer-milieu crud-haut-droite">
                    <!-- MODIFIER -->
                    <!-- a montrer que si utili = le createur -->
                    <button (click)="openPopupUpdateElem(element._id)" class="btn-crud tooltip">
                        <i class="fa-solid fa-pencil"></i>
                        <span class="tooltiptext tolltiptexte-small-top">Modifier</span>
                    </button>
                    <!-- Plus d'options -->
                    <!-- a montrer que si utili = le createur -->
                    <button (click)="openPopupMoreOptioneElem(element._id)" class="btn-crud tooltip">
                        <i class="fa-solid fa-ellipsis"></i>
                        <span class="tooltiptext tolltiptexte-small-top">Plus d'options</span>
                    </button>
                    <!-- SUPPRIMER -->
                    <!-- <button class="btn-crud tooltip" (click)="deleteElement(element._id)">
                        <i class="fa-solid fa-trash"></i>
                        <span class="tooltiptext tolltiptexte-small-top">Supprimer</span>
                    </button> -->
                </div>
            </li>

        </ul>
        <div class="espacement-vertical-XL"></div>
    </article>

    <!-- appel de la pop up formulaire pour ajouter un element  -->
    <article class="btn-flottant-bas-droite">
        <!-- AJOUTER -->
        <!-- a montrer que si utili = le createur -->
        <button (click)="openPopupAddElem(collection._id)" [disabled]="isDisabled" class="btn-primary">
            <i class="fa-solid fa-plus"></i>
            <p>Ajouter un élément</p>
        </button>
    </article>
</section>