<!-- Ici utilisateur-detail-favoris-component page des favoris d'un utilisateur avec liste de ses collections favorites-->
<section>
    <article class="container-image-couverture-page-S fond-couleur-fav">
    </article>
</section>

<section class="container-general">
    <article class="marges">
        <div class="espacement-vertical-M"></div>
        <div>
            <ng-container>
                <h2>Mes favoris</h2>
            </ng-container>
        </div>
    </article>


    <article class="marges">

        <ul class="espacement-autour">
            <!-- verifier si l'utilisateur n'a pas une liste de fav:  -->
            <div *ngIf="!favorisExistant" class="centrer-en-colonne">
                <h3>Vous n'avez pas encore de liste de favoris</h3>
                <button class="btn-primary btn-small" (click)="creerFavoris()">Créer une liste de favoris</button>
            </div>
            <div *ngIf="favorisExistant">
                <!-- s'il a une liste de fav  -->
                <div *ngIf="collectionIds.length == 0" class="centrer-en-colonne">
                    <h2 class="centrer-en-colonne"><i class="fa-solid fa-box-open"></i>Aucune collection favorite
                    </h2>
                </div>
                <li *ngFor="let collectionId of collectionIds" class="card around large motif-fond-pointille">
                    <app-collections [collectionId]="collectionId"></app-collections>
                </li>
            </div>

        </ul>

    </article>
</section>