<!-- Ici page générale avec liste de toutes les collections -->


<section class="container-image-couverture-homePage img-tiroire">
    <article>
        <div class="centrer-sur-horizon centrer-en-colonne">
            <!-- <img src="assets/logo/Fichier 2.svg" class="miniature espacement-vertical-M"> -->
            <h1 class="titre-site texte-blanc">Collectio</h1>
        </div>
    </article>
</section>


<section>
    <div class="espacement-vertical-L"></div>
    <h2 class="marges">Les collections publiques</h2>
    <article class="marges centrer-en-colonne">
        <div class="centrer-sur-horizon espacement-vertical-M">
            <input class="input-recherche" type="search" [(ngModel)]="searchTerm"
                placeholder="Rechercher une collection..." />
            <button class="btn-primary btn-medium centrer-milieu"><i class=" fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div>
            <ul class="centrer-sur-horizon list-cases">
                <li *ngFor="let periode of periodes; let i = index" formArrayName="periodesId"
                    class="espace-entre-case mobile-list-item">
                    <div class="centrer-en-colonne">
                        <input type="checkbox" class="checkbox" id="periodesId" (change)="onCheckboxChange($event)"
                            [value]="periode._id" />

                        <p class="tag tag-M periode tooltip" [ngStyle]="{'background': periode.couleur}">
                            {{ periode.label.slice(0, 2) }}
                            <span class="tooltiptext tolltiptexte-small-bottom">{{ periode.label }} : <br> de {{
                                periode.dateDebut }} à {{
                                periode.dateFin }}</span>
                        </p>
                    </div>
                </li>
            </ul>
            <div class="espacement-vertical-L"></div>
        </div>
        <div class="container-general">
            <ul class="espacement-autour">
                <li *ngFor="let collection of publicCollections | filterCollection: searchTerm"
                    class="card around medium motif-fond-pointille">
                    <app-collections [collectionId]="collection"></app-collections>
                </li>
            </ul>
        </div>
        <div class="espacement-vertical-M"></div>
        <div class="centrer-sur-horizon centrer-milieu">
            <button class="btn-primary btn-small espacement-horizontal-M" (click)="previousPage()"
                [disabled]="currentPage === 1">Précédent</button>
            <span>Page {{ currentPage }} sur {{ totalPages }}</span>
            <button class="btn-primary btn-small espacement-horizontal-M" (click)="nextPage()"
                [disabled]="currentPage === totalPages">Suivant</button>
        </div>
        <div class="espacement-vertical-L"></div>
    </article>
</section>


<section class="debordement-vertical-XL fond-couleur-black90">
    <article class="marges">
        <h2>Collections du moment</h2>
        <div class="espacement-vertical-L"></div>
        <ul class="espacement-autour">
            <li *ngFor="let une of unes" class="card around large motif-fond-pointille">
                <app-collections [collectionId]="une.collectionId"></app-collections>
            </li>
        </ul>
        <div class="espacement-vertical-L"><br></div>
    </article>
</section>


<section class="container-general  image-fillette">
    <article class="marges">

        <div class="container-img-text">
            <div class="text">
                <div class="espacement-vertical-L"></div>
                <h1>Partez à la découverte de collections encore insoupsonnées</h1>
                <!-- <h1>Vos trésors toujours à portée de main</h1> -->
                <div>
                    <div class="espacement-vertical-M"></div>
                    <!-- <button class="btn-primary btn-small espacement-vertical-S" (click)="openPopupLog(false)"><i
                            class="fa-solid fa-arrow-right-to-bracket"></i>
                        <p> Se connecter</p>
                    </button> -->
                    <button class="btn-primary btn-small espacement-vertical-S" (click)="openPopupLog(true, true)"><i
                            class="fa-solid fa-door-open"></i>
                        <p> S'inscrire</p>
                    </button>
                    <!-- <a [routerLink]="['/homePage']">Continuer en tant que visiteur</a> -->
                </div>

            </div>
            <div class="image">
                <img src="../assets/images/accueil/pexels-tima-miroshnichenko-6549373.webp">
            </div>
        </div>
        <div class="espacement-vertical-L"></div>
    </article>
</section>