<!-- FORMULAIRE POUR AJOUTER UNE COLLECTION -->

<app-popup>
  <section>
    <article class="centrer-sur-horizon">
      <h3><i class="fa-regular fa-folder-open"></i> Ajouter une collection</h3>
      <button class="aligner-droite margin-droite-S centrer-milieu btn-primary" (click)="dialogRef.close()">
        <i class="fa-solid fa-xmark"></i>
        <p>Fermer</p>
      </button>
    </article>
    <article>
      <form [formGroup]="newCollectionForm" (ngSubmit)="ajouterCollection()">
        <div class="centrer-sur-horizon">
          <label for="label">Nom <i class="texte-error">*</i></label>

          <div *ngIf="newCollectionForm.get('label')?.errors?.['required'] && newCollectionForm.get('label')?.touched">
            <p class="texte-error">Requis.</p>
          </div>
        </div>
        <input type="text" id="label" formControlName="label">

        <div class="centrer-sur-horizon">
          <label for="label">Description <i class="texte-error">*</i></label>
          <div
            *ngIf="newCollectionForm.get('description')?.errors?.['required'] && newCollectionForm.get('description')?.touched">
            <p class="texte-error">Requis.</p>
          </div>
        </div>
        <input type="text" id="description" formControlName="description">

        <label for="label">Image de couverture </label>
        <input type="text" id="imageUrl" formControlName="imageUrl">

        <label for="label">Picto thème </label>
        <input type="text" id="picto" formControlName="picto">


        <label for="label">Période(s) <i class="texte-error">*</i></label>
        <div>
          <ul class="centrer-sur-horizon list-cases">
            <li *ngFor="let periode of periodes" class="espace-entre-case">
              <div class="centrer-en-colonne">
                <input type="checkbox" class="checkbox" [value]="periode._id" (change)="onCheckboxChange($event)" />
                <p class="tag tag-M periode" [ngStyle]="{'background': periode.couleur}">
                  {{ periode.label.slice(0, 2) }}</p>
                <p class="periode" style="margin-left: -40px;">{{ periode.dateDebut }}</p>
              </div>
            </li>
          </ul>
        </div>


        <div class="centrer-en-colonne">
          <button type="submit" [disabled]="newCollectionForm.invalid" class="btn-primary">
            <i class=" fa-solid fa-plus"></i>
            <p>Ajouter une collection</p>
          </button>
        </div>
      </form>
    </article>
  </section>
</app-popup>