<!-- FORMULAIRE POUR AJOUTER UNE COLLECTION -->

<app-popup>
  <form [formGroup]="newCollectionForm" (ngSubmit)="ajouterCollection()">
    <section>
      <article>
        <div class="image-couverture-page-tempo couleur-element-tempo">

          <button class="aligner-droite margin-droite-S espacement-vertical-M centrer-milieu btn-primary btn-small"
            (click)="dialogRef.close()">
            <i class="fa-solid fa-xmark"></i>
            <p>Fermer</p>
          </button>
        </div>
      </article>
    </section>
    <section class="container-general">
      <article class="marges">
        <div class="centrer-sur-horizon">
          <p class="circle-picto circle-picto-M margin-top-S-negatif couleur-element-tempo input-btn">
            <i class="fa-solid fa-hippo"></i>
          </p>
          <div class="espacement-vertical-S">
            <input type="text" id="categorie" formControlName="categorie" placeholder="Catégorie*"
              class="tag tag-L input-tag">
            <input type="text" id="sousCategorie" formControlName="sousCategorie" placeholder="Sous catégorie"
              class="tag tag-L input-tag">
          </div>
          <div class="espacement-vertical-S">
            <ul>
              <li class="aligner-droite margin-droite-flexible">
                <div>
                  <p class="tag tag-L couleur-element-tempo input-btn">période</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="marges">
        <div class="centrer-sur-horizon">
          <div *ngIf="newCollectionForm.get('label')?.errors?.['required'] && newCollectionForm.get('label')?.touched">
            <p class="texte-error">Requis.</p>
          </div>
        </div>
        <input type="text" id="label" formControlName="label" placeholder="Non de la collection*" class="input-titre">

        <textarea rows="4" type="text" id="description" placeholder="Description" class="input-texte"></textarea>


        <div>
          <ul class="centrer-sur-horizon list-cases">
            <li *ngFor="let periode of periodes" class="espace-entre-case">
              <div class="centrer-en-colonne">
                <input type="checkbox" class="checkbox" [value]="periode._id" (change)="onCheckboxChange($event)" />
                <p class="tag tag-M periode" [ngStyle]="{'background': periode.couleur}">
                  {{ periode.label.slice(0, 2) }}</p>
                <p class="periode" style="margin-left: -40px;">{{ periode.dateDebut }}</p>
              </div>
            </li>
          </ul>
        </div>


      </article>
      <article class="centrer-en-colonne">
        <div class="fixe-bottom">
          <button type="submit" [disabled]="newCollectionForm.invalid" class="btn-primary">
            <i class=" fa-solid fa-plus"></i>
            <p>Ajouter une collection</p>
          </button>
        </div>
      </article>
    </section>
  </form>
</app-popup>