
.list-cases{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}
.espace-entre-case{
    justify-content: space-around;
    min-width: 50px;
}

.periode{
    margin: 5px 15px 5px 15px;
}

// -------------


.image-couverture-page-tempo{
    height: 150px;
}

.container-general{  
    min-height: 350px;
  }


.marges{
    margin: 0% 2% 0% 2%;
}