
.list-cases{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}
.espace-entre-case{
    justify-content: space-around;
    min-width: 50px;
}

.periode{
    margin: 5px 15px 5px 15px;
}

// -------------






