<section class="image-couverture-form-tempo couleur-formulaire-tempo">
    <h1>Formulaire collection</h1>
</section>
<section class="container-general">
    <article class="marges">
        <h2>Ajouter une collection</h2>
        <form (ngSubmit)="ajouterCollection()">
            <label for="label">Nom de la collection : </label>
            <input type="text" id="label" [(ngModel)]="nouvelCollection.label" name="label" required>
            <br><br>
            <label for="description">Description : </label>
            <input type="text" id="description" [(ngModel)]="nouvelCollection.description" name="description" required>
            <br><br>
            <label for="imageUrl">Chemin de l'image : </label>
            <input type="text" id="imageUrl" [(ngModel)]="nouvelCollection.imageUrl" name="imageUrl" required>
            <br><br>
            <button type="submit">Ajouter une collection</button>
            <br><br>
            <p>
                MEMO : trouver comment faire en sorte que le champ collectionId de Période soit rempli automatiquement
                quand une collection ajoute le champ période
                <br>
                Ajouter case à cocher avec la ou les périodes de la collection
            </p>
        </form>
        <app-periodes></app-periodes>
    </article>
</section>