<!-- collections.component : Page qui affiche chaque collection -->

<!-- CRUD -->
<div class="centrer-milieu crud-haut-droite">
  <!-- MODIFIER -->
  <button (click)="openPopupUpdateColl(collection._id)" class="btn-crud tooltip">
    <i class="fa-solid fa-pencil"></i>
    <span class="tooltiptext tolltiptexte-small-top">Modifier</span>
  </button>
  <!-- Plus d'options -->
  <button (click)="openPopupMoreOptionColl(collection._id)" class="btn-crud tooltip">
    <i class="fa-solid fa-ellipsis"></i>
    <span class="tooltiptext tolltiptexte-small-top">Plus d'options</span>
  </button>
</div>

<!-- Au clic sur une collection redirige vers le détail de la collection en question -->
<a [routerLink]="['/collections', collection._id]" class="around">

  <!-- si pas d'image de couverture alors met une couleur définit, sinon affiche l'image de couv -->
  <div class="image-couverture-card-tempo couleur-element-tempo" *ngIf="collection.imageUrl === '' else imageCouv">
  </div>
  <ng-template #imageCouv>
    <img src="{{ collection.imageUrl }}" class="image-couverture-card-tempo image-de-fond">
  </ng-template>


  <!-- Detail de la collection -->
  <div class="card-paragraphe">
    <div class="centrer-sur-horizon espacement-entre">
      <div *ngIf=" collection.periodesId.length==1">
        <div *ngFor=" let periode of collection.periodesId">
          <!-- Picto du theme -->
          <p class="circle-picto circle-picto-S margin-top-S-negatif" [ngStyle]="{'background': periode.couleur}"><i
              class="fa-solid {{ collection.picto }}"></i>
          </p>
        </div>
      </div>
      <div *ngIf=" collection.periodesId.length>=2">
        <!-- Picto du theme -->
        <p class="circle-picto circle-picto-S margin-top-S-negatif"
          [ngStyle]="{'background': setGradientStyle(collection.periodesId)}">
          <i class="fa-solid {{ collection.picto }}"></i>
        </p>
      </div>
      <div>
        <!-- Pastille periode -->
        <ul>
          <li>
            <div *ngFor="let periode of collection.periodesId" class="indienne">
              <p class="tag tag-M" [ngStyle]="{'background': periode.couleur}">{{
                periode.label.slice(0,
                2) }}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <h4><strong>{{ collection.label }}</strong></h4>
    <div class="espacement-vertical-S"></div>
    <p class="text-description">{{ collection.description }}</p>

    <!-- Categorie et sous-categorie -->

    <!-- si une seule période -->
    <div *ngIf=" collection.periodesId.length==1">
      <div *ngFor="let periode of collection.periodesId" class="espacement-vertical-S">
        <p class="tag tag-L" [ngStyle]="{'background': periode.couleur}">
          {{ collection.categorie }}</p>

        <p *ngIf="collection.sousCategorie === '' else tagSousCategorie"></p>
        <ng-template #tagSousCategorie>
          <div class="tag tag-with-pastille ">
            <div class="tag-XS" [ngStyle]="{'background': periode.couleur}"></div>
            <p>{{ collection.sousCategorie }}</p>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- Si plusieurs période : -->
    <div *ngIf=" collection.periodesId.length>=2">
      <div class="espacement-vertical-S">
        <p *ngIf="collection.categorie.length >= 1" class="tag tag-L"
          [ngStyle]="{'background': setGradientStyle(collection.periodesId)}">
          {{ collection.categorie }}</p>

        <p *ngIf="collection.sousCategorie === '' else tagSousCategorie"></p>
        <ng-template #tagSousCategorie>
          <div class="tag tag-with-pastille ">
            <div class="tag-XS" [ngStyle]="{'background': setGradientStyle(collection.periodesId)}">
            </div>
            <p>{{ collection.sousCategorie }}</p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="espacement-vertical-M "></div>
    <div class="espacement-entre contient-texte-discret">
      <p class="texte-discret">Nombre d'élément</p>
      <p class="texte-discret">{{ collection.elementsId.length }}</p>
    </div>
  </div>
</a>
<div class="espacement-entre contient-texte-discret see-utili-page" (click)="navigateUserPage(utilisateur._id)">
  <p class="texte-discret">Collecté par</p>
  <p class="texte-discret">{{ utilisateur.nomUtilisateur }}</p>
</div>