<!-- collections.component : Page qui affiche chaque collection -->

<!-- ------------------------------ -->
<!-- ------------------------------ CRUD ------------------------------ -->
<!-- ------------------------------ -->
<!-- favoris -->
<div *ngIf="collection.signalement === false">

  <div class="centrer-milieu crud-haut-gauche">
    <!-- si coll est dans les favoris utilisateur alors -->
    <button *ngIf="isCollFav" (click)="RemoveToFavoris(collection._id)" class="btn-crud tooltip">
      <i class="fa-solid fa-heart"></i>
      <span class="tooltiptext tolltiptexte-small-top">Retirer des favoris</span>
    </button>
    <!-- sinon  -->
    <button *ngIf="!isCollFav" (click)="AddToFavoris(collection._id)" class="btn-crud tooltip">
      <i class="fa-regular fa-heart"></i>
      <span class="tooltiptext tolltiptexte-small-top">Ajouter aux favoris</span>
    </button>

  </div>
</div>


<div class="centrer-milieu crud-haut-droite">
  <!-- MODIFIER -->
  <button (click)="openPopupUpdateColl(collection._id)" class="btn-crud tooltip">
    <i class="fa-solid fa-pencil"></i>
    <span class="tooltiptext tolltiptexte-small-top">Modifier</span>
  </button>
  <!-- Plus d'options -->
  <button (click)="openPopupMoreOptionColl(collection._id)" class="btn-crud tooltip">
    <i class="fa-solid fa-ellipsis"></i>
    <span class="tooltiptext tolltiptexte-small-top">Plus d'options</span>
  </button>
</div>



<!-- ------------------------------ -->
<!-- ------------------------------ CONTAINEUR DE LA CARTE ------------------------------ -->
<!-- ------------------------------ -->

<!-- Au clic sur une collection redirige vers le détail de la collection en question -->
<a [routerLink]="['/collections', collection._id]" class="around">

  <!-- ------------------------------ -->
  <!-- ------------------------------ HEADER DE LA CARTE ------------------------------ -->
  <!-- ------------------------------ -->
  <!-- IMAGE -->
  <!-- si pas d'image de couverture alors met une couleur définit, sinon affiche l'image de couv -->
  <div class="image-couverture-card-tempo couleur-element-tempo" *ngIf="collection.imageUrl === '' else imageCouv">
  </div>
  <!-- sinon affiche l'image de couverture -->
  <ng-template #imageCouv>
    <img src="{{ collection.imageUrl }}" class="image-couverture-card-tempo image-de-fond">
  </ng-template>


  <div class="card-paragraphe motif-fond-pointille">
    <!-- PICTO ET PASTILLE -->
    <div class="centrer-sur-horizon espacement-entre">
      <div *ngIf=" collection.periodesId.length==1">
        <div *ngFor=" let periode of collection.periodesId">
          <!-- Picto du theme si plusieurs periode-->
          <p class="circle-picto circle-picto-S margin-top-S-negatif" [ngStyle]="{'background': periode.couleur}"><i
              class="fa-solid {{ collection.picto }}"></i>
          </p>
        </div>
      </div>
      <div *ngIf=" collection.periodesId.length>=2">
        <!-- Picto du theme -->
        <p class="circle-picto circle-picto-S margin-top-S-negatif"
          [ngStyle]="{'background': setGradientStyle(collection.periodesId)}">
          <i class="fa-solid {{ collection.picto }}"></i>
        </p>
      </div>
      <div>
        <!-- Pastille periode -->
        <ul>
          <li>
            <div *ngFor="let periode of collection.periodesId" class="indienne">
              <p class="tag tag-M" [ngStyle]="{'background': periode.couleur}">{{
                periode.label.slice(0,
                2) }}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- ------------------------------ -->
    <!-- ------------------------------ DOBY DE LA CARTE ------------------------------ -->
    <!-- ------------------------------ -->
    <h4><strong>{{ collection.label }}</strong></h4>
    <div class="espacement-vertical-S"></div>
    <p class="text-description">{{ collection.description }}</p>

    <!-- Categorie et sous-categorie -->

    <!-- si une seule période -->
    <div *ngIf=" collection.periodesId.length==1">
      <div *ngFor="let periode of collection.periodesId" class="espacement-vertical-S">
        <p class="tag tag-L" [ngStyle]="{'background': periode.couleur}">
          {{ collection.categorie }}</p>

        <p *ngIf="collection.sousCategorie === '' else tagSousCategorie"></p>
        <ng-template #tagSousCategorie>
          <div class="tag tag-with-pastille ">
            <div class="tag-XS" [ngStyle]="{'background': periode.couleur}"></div>
            <p>{{ collection.sousCategorie }}</p>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- Si plusieurs période : -->
    <div *ngIf=" collection.periodesId.length>=2">
      <div class="espacement-vertical-S">
        <p *ngIf="collection.categorie.length >= 1" class="tag tag-L"
          [ngStyle]="{'background': setGradientStyle(collection.periodesId)}">
          {{ collection.categorie }}</p>

        <p *ngIf="collection.sousCategorie === '' else tagSousCategorie"></p>
        <ng-template #tagSousCategorie>
          <div class="tag tag-with-pastille ">
            <div class="tag-XS" [ngStyle]="{'background': setGradientStyle(collection.periodesId)}">
            </div>
            <p>{{ collection.sousCategorie }}</p>
          </div>
        </ng-template>
      </div>
    </div>


    <!-- ------------------------------ -->
    <!-- PARAGRAPHE -->
    <div class="espacement-vertical-M "></div>
    <div class="espacement-entre contient-texte-discret">
      <p class="texte-discret">Nombre d'élément</p>
      <p class="texte-discret">{{ collection.elementsId.length }}</p>
    </div>
  </div>
</a>
<div class="espacement-entre contient-texte-discret see-utili-page" (click)="navigateUserPage(utilisateur._id)">
  <p class="texte-discret">Collecté par</p>
  <p class="texte-discret">{{ utilisateur.nomUtilisateur }}</p>
</div>



<div *ngIf="collection.signalement === true">
  <div class="signalement around" *ngIf="reduit === false">
    <div class="centrer-milieu crud-haut-gauche">
      <button (click)="signalementReduit(true)" class="btn-crud tooltip">
        <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
        <span class="tooltiptext tolltiptexte-small-top">Réduire</span>
      </button>
    </div>

    <div class="centrer-en-colonne text-centrer">
      <i class="fa-solid fa-triangle-exclamation"></i>
      <p class="souligner">Signalement</p>
      <p>Cette collection fait l'objet d'un signalement</p>
      <br><br>
      <div class="centrer-milieu">
        <button class="btn-primary btn-small" (click)=" openPopupSignalement(collectionId)">
          Voir la raison</button>
      </div>
    </div>

  </div>
  <div *ngIf="reduit === true">
    <div class="signalement-compris tooltip" (click)="signalementReduit(false)" style="cursor: pointer;">
      <i class="fa-solid fa-triangle-exclamation"></i>
    </div>
  </div>

</div>
<article *ngIf="formSignalement === true">
  <app-popup>
    <div *ngIf="needReponse === false" class="crud-haut-gauche">
      <p class=" texte-discret texte-small">En attente de
        validation</p>
    </div>
    <article class="centrer-sur-horizon">
      <button class="crud-haut-droite btn-discret btn-small" (click)="ClosePopupSignalement()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </article>
    <article class="padding-S">
      <h3 class="no-margin">Signalement</h3>
      <p class="texte-discret texte-small">Sans modification des éléments problématiques, vous ne pouvez pas rendre
        publique votre
        collection</p>
      <br>
      <div class="around motif-fond-carreaux padding-S">
        <p style="float: right;">{{ signalement.date |
          date:'dd/MM/yyyy' }}</p>
        <br>
        <p class="souligner">Raison du signalement :</p>
        <p>{{ signalement.description }}</p>
        <br>
        <p>----------</p>
        <br>

        <div *ngIf="needReponse === true">
          <p class="texte-small">Vous pouvez remplir le formulaire si dessous afin d'argumenter en votre faveur et
            demander la lever du
            signalement</p>
          <br>
          <form [formGroup]="updateSignalement" (ngSubmit)="updateSignalementCollection()">
            <p>Votre réponse : *</p>
            <textarea rows="4" type="text" id="reponseUtili" formControlName="reponseUtili"
              placeholder="Voici les élements que j'ai modifié..." class="input-texte"></textarea>
            <div class="espacement-autour">
              <button class="btn-primary btn-small">Envoyer la demande</button>
            </div>
          </form>
        </div>


        <div *ngIf="needReponse === false">
          <p style="float: right;">{{ signalement.reponseDate |
            date:'dd/MM/yyyy' }}</p>
          <p class="souligner">Votre réponse : </p>
          <p>{{ signalement.reponseUtili }}</p>
        </div>
      </div>

    </article>
  </app-popup>
</article>