<app-popup>
    <section>
        <article>
            <button class="aligner-droite margin-droite-S espacement-vertical-M centrer-milieu btn-small"
                (click)="dialogRef.close()">
                <i class="fa-solid fa-xmark"></i>
                <p> Fermer</p>
            </button>
        </article>
    </section>
    <section *ngIf="IsLog === true">
        <article class="padding-S" *ngIf="IsInscription === true">
            <h2>Devenez collectionneur</h2>
            <div class="saut-de-ligne-M"></div>
            <div class="centrer-en-colonne">
                <form [formGroup]="newUtilisateurForm" (ngSubmit)="ajouterUtilisateur()">
                    <label for="nom">Nom</label>
                    <input class="input-texte" type="text" id="nom" formControlName="nom" placeholder="Do">

                    <label for="prenom">Prénom</label>
                    <input class="input-texte" type="text" id="prenom" formControlName="prenom" placeholder="John">
                    <div class="espacement-vertical-S"></div>

                    <label for="nomUtilisateur">Nom d'utilisateur</label>
                    <input class="input-texte" type="text" id="nomUtilisateur" formControlName="nomUtilisateur"
                        placeholder="JohnDooo44">
                    <!-- <input class="input-texte" type="text" id="role" formControlName="role" placeholder="Role"> -->
                    <div class="espacement-vertical-S"></div>


                    <p *ngIf="newUtilisateurForm.get('motDePasse')?.hasError('minlength')"
                        class="texte-error texte-small">
                        Le mot de passe doit contenir au moins 8 caractères.
                    </p>
                    <p *ngIf="newUtilisateurForm.get('motDePasse')?.hasError('pattern')"
                        class="texte-error texte-small">
                        Il doit également contenir au moins une lettre majuscule et un caractère spécial.
                    </p>
                    <label for="motDePasse">Mot de passe</label>
                    <input class="input-texte" type="password" id="motDePasse" formControlName="motDePasse"
                        placeholder="**********">
                    <div class="espacement-vertical-S"></div>

                    <p *ngIf="newUtilisateurForm.hasError('mismatch')" class="texte-error texte-small">
                        Les mots de passe ne correspondent pas.
                    </p>
                    <label for="motDePasseConfirmation">Confirmer le mot de passe</label>
                    <input class="input-texte" type="password" id="motDePasseConfirmation"
                        formControlName="motDePasseConfirmation" placeholder="**********">
                    <div class="espacement-vertical-S"></div>

                    <div class="centrer-en-colonne">
                        <button type="submit" [disabled]="newUtilisateurForm.invalid" class="btn-primary btn-small">
                            <p>S'inscrire</p>
                        </button>
                    </div>
                </form>
            </div>
        </article>
        <article class="padding-S" *ngIf="IsInscription === false">
            <h2>Connectez vous</h2>
            <div class="saut-de-ligne-M"></div>
            <div class="centrer-en-colonne">
                <form [formGroup]="newConnectUtilisateurForm" (ngSubmit)="connectUtilisateur()">

                    <input class="input-texte" type="text" id="nomUtilisateur" formControlName="nomUtilisateur"
                        placeholder="Nom d'utilisateur">
                    <input class="input-texte" type="password" id="motDePasse" formControlName="motDePasse"
                        placeholder="Mot de passe">
                    <p *ngIf="errorMessage" class="texte-error texte-small">{{errorMessage}}</p><br>
                    <div class="centrer-en-colonne">
                        <button type="submit" [disabled]="newConnectUtilisateurForm.invalid"
                            class="btn-primary btn-small">
                            <p>Se connecter</p>
                        </button>
                    </div>
                </form>
            </div>

        </article>
    </section>
    <section *ngIf="IsLog === false">
        <article class="padding-S" *ngIf="IsUpdateInfo === false">
            <h2>Informations utilisateur</h2>
            <div class="saut-de-ligne-M"></div>
            <div class="container-img-text">
                <div class="image">
                    <div *ngIf="utilisateur.role==='administrateur'" class="centro-centrer-XXS">
                        <div class="centrer-en-colonne">
                            <h2 class="fa-solid fa-crown"></h2>
                            <p class="texte-small">{{ utilisateur.role }}</p>
                        </div>

                    </div>
                    <div *ngIf="utilisateur.role === 'collectionneur'" class="centro-centrer-XXS">
                        <div class="centrer-en-colonne">
                            <h2 class="fa-solid fa-user"></h2>
                            <p class="texte-small">{{ utilisateur.role }}</p>
                        </div>

                    </div>
                </div>
                <div class="text">
                    <h5>Nom :</h5>
                    <p>{{ utilisateur.nom }}</p>
                    <br>
                    <h5>Prénom :</h5>
                    <p>{{ utilisateur.prenom }}</p>
                    <br>
                    <h5>Nom d'utilisateur :</h5>
                    <p>{{ utilisateur.nomUtilisateur }}</p>
                </div>
            </div>
            <div class="saut-de-ligne-M"></div>
            <div class="centrer-en-colonne">
                <button class="btn-primary btn-small" (click)="openUpdateForm()">
                    <p>Modifier</p>
                </button>
            </div>
        </article>
        <article class="padding-S" *ngIf="IsUpdateInfo === true">
            <h2>Modifier ses informations</h2>
            <div class="saut-de-ligne-M"></div>
            <div class="centrer-en-colonne">
                <form [formGroup]="updateUtilisateurForm" (ngSubmit)="modifierUtilisateur()">
                    <label for="nom">Nom</label>
                    <input class="input-texte" type="text" id="nom" formControlName="nom">

                    <label for="prenom">Prénom</label>
                    <input class="input-texte" type="text" id="prenom" formControlName="prenom">
                    <div class="espacement-vertical-S"></div>

                    <label for="nomUtilisateur">Nom d'utilisateur</label>
                    <input class="input-texte" type="text" id="nomUtilisateur" formControlName="nomUtilisateur">
                    <!-- <input class="input-texte" type="text" id="role" formControlName="role" placeholder="Role"> -->
                    <div class="espacement-vertical-S"></div>
                </form>
            </div>
            <div class="saut-de-ligne-M"></div>
            <div class="centrer-en-colonne">
                <button type="submit" [disabled]="updateUtilisateurForm.invalid" class="btn-primary btn-small"
                    (click)="modifierUtilisateur()">
                    <p>Enregistrer</p>
                </button>
            </div>
        </article>
    </section>
</app-popup>