<!-- FORMULAIRE POUR AJOUTER UN ELEMENT -->

<app-popup>
  <section>
    <article class="centrer-sur-horizon">
      <h3><i class="fa-regular fa-file-lines"></i> Ajouter un élément</h3>
      <button class="aligner-droite margin-droite-S centrer-milieu btn-primary" (click)="dialogRef.close()">
        <i class="fa-solid fa-xmark"></i> Fermer</button>
    </article>
    <article>
      <form [formGroup]="nouvelElementForm" (ngSubmit)="ajouterElement()">

        <div class="centrer-sur-horizon">
          <label for="label">Nom <i class="texte-error">*</i></label>
          <div *ngIf="nouvelElementForm.get('label')?.errors?.['required'] && nouvelElementForm.get('label')?.touched">
            <p class="texte-error">Requis.</p>
          </div>
        </div>
        <input type="text" id="label" formControlName="label">

        <div class="centrer-sur-horizon">
          <label for="label">Description <i class="texte-error">*</i></label>
          <div
            *ngIf="nouvelElementForm.get('description')?.errors?.['required'] && nouvelElementForm.get('description')?.touched">
            <p class="texte-error">Requis.</p>
          </div>
        </div>
        <input type="text" id="description" formControlName="description">

        <div class="centrer-en-colonne">
          <button type="submit" [disabled]="nouvelElementForm.invalid " class="btn-primary"><i
              class=" fa-solid fa-plus"></i>
            <p>Ajouter un élement</p>
          </button>
        </div>

      </form>

    </article>
  </section>
</app-popup>



<!-- 
  <label for="imageUrl">Chemin de l'image : </label><br>
  <input type="text" id="imageUrl" [(ngModel)]="nouvelElement.imageUrl" name="imageUrl" required>

<p>MEMO : A l'ajout d'un élément lui donner en parametre l'id de la collection et ajouter l'id de ce nouvel
  element dans la collection</p>  -->