<!-- Ici CARD d'un element en fonction de son identifiant afficher dans le detail d'une collection -->

<section>
    <article>
        <ul>
            <li>
                <div class="image-couverture-card-element-tempo couleur-element-tempo"
                    *ngIf="element.imageUrl === '' else imageCouv">
                </div>
                <ng-template #imageCouv>
                    <img src="{{ element.imageUrl }}" class="image-couverture-card-element-tempo image-de-fond">
                </ng-template>
                <div class="card-paragraphe">
                    <!-- <p>({{ element._id }})</p> -->
                    <h5><strong>{{ element.label }}</strong></h5>
                    <p>Description : {{ element.description }}</p>
                    <p>{{ element.collectionId }}</p>
                </div>
            </li>
        </ul>
    </article>
</section>