<!-- menu -->
<header class="nav-barre">
    <button class="btn-discret btn-small btn-flottant-haut-gauche centrer-milieu" (click)="IsOpen = true">
        <i class="fa-solid fa-bars"></i></button>
    <div class="espacement-vertical-S text-centrer">
        <a (click)="navigateHomePage()" class="titre-nav">Collectio</a>
    </div>

    <div *ngIf="utilisateur">
        <div class="btn-flottant-haut-droite">
            <button class="btn-discret btn-small centrer-milieu" (click)="navigateUserPage(utilisateur?._id)">
                <div *ngIf="utilisateur.role === 'administrateur'">
                    <p><i class="fa-solid fa-crown"></i> {{ utilisateur?.nomUtilisateur }}</p>
                </div>
                <div *ngIf="utilisateur.role === 'collectionneur'">
                    <p><i class="fa-solid fa-user"></i> {{ utilisateur?.nomUtilisateur }}</p>
                </div>
            </button>
            <button class="btn-discret btn-small centrer-milieu tooltip" (click)="logout()">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span class="tooltiptext tolltiptexte-small-left">Se déconnecter</span>
            </button>
        </div>
    </div>
    <div class="btn-flottant-haut-droite" *ngIf="!UserConnecte">
        <button class="btn-discret btn-small centrer-milieu tooltip" (click)="openPopupLog(false)">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <span class="tooltiptext tolltiptexte-small-left">Se connecter</span>
        </button>
    </div>
</header>
<aside *ngIf="IsOpen === true">
    <app-menu>
        <section>
            <article>
                <button class="btn-discret btn-small btn-flottant-haut-gauche centrer-milieu" (click)="IsOpen = false">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </article>
            <article>
                <br><br>
                <button class="btn-crud-modal" (click)="navigateHomePage()">
                    <i class="fa-solid fa-house"></i>
                    <p>Accueil</p>
                </button>
                <div class="espacement-vertical-M"></div>
                <div *ngIf="UserConnecte === true">
                    <button class="btn-crud-modal" (click)="navigateUserPage(utilisateur?._id)">
                        <i class="fa-solid fa-folder"></i>
                        <p>Mes collections</p>
                    </button>

                    <button class="btn-crud-modal" (click)="navigateUserPageFavoris(utilisateur?._id)">
                        <i class="fa-solid fa-heart"></i>
                        <p>Mes favoris</p>
                    </button>
                </div>
            </article>
            <article>
                <div class="espacement-vertical-M"></div>
                <div *ngIf="utilisateur?.role === 'administrateur'">
                    <button class="btn-crud-modal" (click)="navigateBackOffice()">
                        <!-- <i class="fa-brands fa-fort-awesome"></i> -->
                        <i class="fa-solid fa-crown"></i>
                        <p>Gestionnaire</p>
                    </button>
                </div>
            </article>
            <!-- <article class="espacement-vertical-L">
                <p>Rechercher par période</p>
                <div class="espacement-vertical-S"></div>
                <button class="btn-crud-modal">
                    <i class="fa-solid fa-bone"></i>
                    <p>Préhistorique</p>
                </button>
                <button class="btn-crud-modal">
                    <i class="fa-solid fa-landmark"></i>
                    <p>Antique</p>
                </button>
                <button class="btn-crud-modal">
                    <i class="fa-solid fa-chess-rook"></i>
                    <p>Médievale</p>
                </button>
                <button class="btn-crud-modal">
                    <i class="fa-solid fa-compass-drafting"></i>
                    <p>Moderne</p>
                </button>
                <button class="btn-crud-modal">
                    <i class="fa-solid fa-tower-cell"></i>
                    <p>Contemporaine</p>
                </button>
                <button class="btn-crud-modal">
                    <i class="fa-solid fa-mobile-retro"></i>
                    <p>Ultra-contemporaine</p>
                </button>
            </article> -->
        </section>
        <section>
            <article class="btn-flottant-bas-gauche">
                <div *ngIf="UserConnecte === false">
                    <!-- (click)="openConnectPopUp()" -->
                    <button class="btn-crud-modal" (click)="openPopupLog(false)">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        <p>Se connecter</p>
                    </button>
                    <button class="btn-crud-modal" (click)="openPopupLog(true)">
                        <i class="fa-solid fa-door-open"></i>
                        <p>S'inscrire</p>
                    </button>
                </div>
                <div *ngIf="UserConnecte === true">
                    <button class="btn-crud-modal" (click)="logout()">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <p>Se déconnecter</p>
                    </button>
                </div>

            </article>
        </section>

    </app-menu>
</aside>
<aside *ngIf="IsOpen === false">

</aside>

<router-outlet></router-outlet>

<!-- <footer>FOOTER</footer> -->