footer{
    height: 100px;
    display: block;
    background-color: chocolate;
    padding: 20px;
    width: 97.4%;
    position: relative;
    bottom: 0px;
}




// Original :
$prehist :  #43A960 ;
$Antique : #437C90;
$Médiéval : #27A4D0;
$Moderne : #A98743;
$Contemporain : #F7C548;
$Ultra-contemporain : #F76848;

// test:
$Médiéval : #27A4D0;
$Moderne : #ADD8E6;
$Contemporain : #F7C548;

$Médiéval : #27A4D0;
$Moderne : #B0C4DE;
$Contemporain : #F7C548;

$prehist : #A98743; 
$Antique : #43A960  ;
$Médiéval : #F7C548;
$Moderne :  #F76848;
$Contemporain :  #27A4D0;
$Ultra-contemporain :#437C90;

$prehist : #B3D4FF ; 
$Antique : #B3EDE6   ;
$Médiéval : #D4EDB3 ;
$Moderne :  #FFECB3 ;
$Contemporain :  #FFD1B3 ;
$Ultra-contemporain :#FFB3B3 ;

$prehist : #66A3FF ; 
$Antique : #66CCB3   ;
$Médiéval : #B3CC66 ;
$Moderne :  #FFE066 ;
$Contemporain :  #FFB266 ;
$Ultra-contemporain :#FF9999 ;

// pas mal :
$prehist : #81C784 ; 
$Antique : #4DB6AC   ;
$Médiéval : #64B5F6 ;
$Moderne :  #FFD54F ;
$Contemporain :  #FFB74D ;
$Ultra-contemporain :#E57373 ;

// pas mal :
$prehist : #81C784 ; 
$Antique : #4DB6AC   ;
$Médiéval : #64B5F6 ;
$Moderne :  #9CCC65 ;
$Contemporain :  #3949AB ;
$Ultra-contemporain :#BBDEFB ;


$btn: #FF4500;
$BTN: #FFD700;
$BTN: #D9534F;
$BTN: #FF8C00;
$BTN: #FF7F50;
$BTN: #FF6F61;
