// ----------- TYPOGRAPHIE ----------
// corps du texte et petit titre
@font-face {
  font-family: 'courier-prime';
  src: url(../src/font/Courier_Prime/CourierPrime-Regular.ttf);
}
@font-face {
  font-family: 'Typewriter';
  src: url(../src/font/Typewriter/JMH\ Typewriter-Thin.ttf);
}

// Grand titre 
@font-face {
  font-family: 'Euphorigenic';
  src: url(../src/font/Euphorigenic/Euphorigenic.otf);
}

// Police basique pour commentaire, tooltip, aide
@font-face {
  font-family: 'NotoSans-Black';
  src: url(../src/font/Noto_Sans/static/NotoSans_Condensed-Regular.ttf);
}

// ---------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------
// -------------- THEME --------------
body {
  margin: 0px;
}

// ------------- couleur -------------
:root {
  background: whitesmoke;
}

$fond-page: #f5f5f5;
$light: white;
$black: #1A2F37;
$black90: #2E4249;
$black70:#57666C;
$black50:#7F8A8E;
$black30:#A9AFB2;
$black10: #D2D4D5;
$black5:#DADBDC;

$error: #d21f0bb7;
$succes: #43A960;
$primary:  #437C90;
$favoris:#7a1a33;

.fond-couleur-primary{
  background-color: $primary;
}
.fond-couleur-primary-foncer{
  background-color: #264854;
}
.fond-couleur-black90{
  background-color: $black90
}
.fond-couleur-fav{
  background-color: $favoris;
}


// .couleur-theme{background-color: $black70;}
// .couleur-categorie{background-color: $black50;}
// .couleur-sous-categorie{background-color: $black30;}

// .couleur-ultra-contempo{background-color: #F76848;}
// .couleur-contempo{background-color: #F7C548;}
// .couleur-moderne{background-color: #A98743;}
// .couleur-medieval{background-color: #27A4D0;}
// .couleur-antique{background-color: #437C90;}
// .couleur-prehist{background-color: #43A960;}


// ------------- ombrage ------------
@mixin shadow {
  box-shadow: #00000026 1.95px 1.95px 2.6px;
}


// ------------ EMPLACEMENT -------
.centrer-sur-horizon {
  display: inline-flex;
  justify-content: center;
}
.centrer-en-colonne{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centrer-milieu{
  justify-content: center;
  align-items: center;
}
.centro-centrer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.centro-centrer-S{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.centro-centrer-XS{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.indienne{
  display: inline-block;
}
.aligner-droite{
  display: flex;
  position:absolute;
}
.fixe-bottom{
  position: absolute;
  bottom: 10px;
}

.margin-droite-S{
  right: 20px;
}
.no-margin{
  margin: 0px;
}
.espacement-entre,
.espacement-entre-article{
  display: flex;
  justify-content: space-between;
}

.espacement-autour{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.padding-M{
  padding: 20%;
}
.padding-S{
  padding: 5%;
}
.espacement-vertical-XL{
  margin: 50px 0px;
}
.debordement-vertical-XL{
  padding: 50px 0px;
}
.espacement-vertical-L{
  margin: 35px 0px;
}
.espacement-vertical-M{
  margin: 15px 0px;
}
.espacement-horizontal-M{
  margin: 0px 15px;
}
.espacement-vertical-S{
  margin: 5px 0px;
}
.espacement-horizontal-S{
  margin: 0px 5px;
}
.saut-de-ligne-L{
  height: 35px;
  display: block;
}
.saut-de-ligne-M{
  height: 15px;
  display: block;
}
.saut-de-ligne-S{
  height: 5px;
  display: block;
}
.margin-top-S-negatif{
  margin-top: -10px;
}



.full-width{
  width: 100%;
}
// ---------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------
// -------------- TEXTE ----------------
.titre-site{
  position: relative; 
  top: 50px; 
  text-align: center;
  font-size: 150px;
}
.titre-nav{
  opacity: 0;
  font-family: 'Euphorigenic'; 
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
}
.nav-barre :hover .titre-nav{
  opacity: 1;
  transition: 0.5s ease;
}

h1{
  font-family: 'Euphorigenic';
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 10px;
}

h2{
  font-family: 'Euphorigenic';
  font-size: 30px;
  margin-bottom: 0px;
}
.fond-couleur-black90 h2{
  color: whitesmoke;
}

h3{
  margin-top: 0px;
}
h4{
  font-family: 'Euphorigenic';
  font-size: 20px;
  margin: 0px;
}
h5 {
  font-family: 'courier-prime';
  font-size: 15px;
  margin: 0px;
}

p{
  font-family: 'courier-prime';
  margin: 0px;
}
a {
  text-decoration: none;
  color: $black;
}

.text-centrer{
  text-align: center;
}
.text-nowrap{white-space: nowrap;}
.contient-texte-discret:hover .texte-discret{
  opacity: 1;
}
.texte-discret{
  opacity: 0.5;
}
.texte-discret :hover{
  color: $black90;
}
.texte-small{
  font-size: 12px;
}
.texte-error{
  color: $error;
}
.texte-blanc{
  color: white;
}
.conserve-espace-origine{
  white-space: pre-line;
}

.surligner{
  background-color: #F7C548;
  font-style: regular;
}
.souligner{
  text-decoration: underline 1.5px;
}




// ---------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------
// ------------ PATERNE ---------------
.nav-barre{
  position: fixed;
  top: 0;
  z-index: 20;
  height: 40px;
  width: 100%;
  background-color: white;
  opacity: 0.2;
}
.nav-barre:hover{
  opacity: 1;
}
.around{
  border-radius: 10px;
}
// ------------- card ----------------
.card {
  display: inline-block;
  word-wrap: break-word;
  vertical-align: top;
  @include shadow;
  position: relative; 
} 
// Apparaît au survol
.card:hover .btn-crud {
  opacity: 1; 
}

.card-paragraphe {
  padding: 10px 15px 0px 15px;
  font-size: 12px;
  border-radius: 0px 0px 10px 10px ;
}
.card-paragraphe-elem{
  padding: 15px 10px 15px 10px;
}

.motif-fond-pointille{
  // effet de pointillé
  background-color: $light;
  background-image: radial-gradient(circle, $black10 10%, transparent 10%), radial-gradient(circle, $black10 10%, transparent 10%);
  background-size: 16px 16px;
}
.motif-fond-carreaux{
  background-image: 
  linear-gradient(transparent 11px,
    #D2D4D5 12px,
    transparent 12px),
  linear-gradient(90deg,
    transparent 11px,
    #D2D4D5 12px,
    transparent 12px);
  background-size: 100% 12px, 12px 100%;
}
.text-description{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.signalement{
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: auto;
  width: 97%;
  background-color: $error;
  padding: 20px 5px;
  opacity: 0.95;
  color: white;
}
.signalement p{
  margin-bottom: 30px;
}
.signalement-compris{
  position: absolute;
  top: 0px;
  left: 10px;
  background-color: $error;
  opacity: 0.95;
  color: white;
  padding: 5px;
}

.favoris{
  color: white;
}
.favoris:hover{
  color: $favoris;
  cursor: pointer;
}

.abrege {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
          line-clamp: 10; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show-all {
  -webkit-line-clamp: unset;
          line-clamp: unset; 
}

.card:hover {
  background-color: whitesmoke;
}
.card:hover .card-paragraphe {
  background-color: whitesmoke;
}


.card-paragraphe > .tag{
  font-size: 10px;
}
.card-paragraphe > .texte-discret{
  font-size: 10px;
}

.see-utili-page{
  font-size: 12px;
  padding: 0px 15px 10px 15px;
  cursor: pointer;
}

.fiche-description{
  // background-color: #f4eee5;
  background-color: white;
  padding: 5px 20px 10px 20px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

// ------------- circle ----------------

.circle-picto{
  display: inline-flex;
  border-radius: 50px;
  border: solid 2px white;
  justify-content: center;
  align-items: center;
  color: white;
}
.circle-picto-M{
  width: 40px;
  height: 40px;
}
.circle-picto-S{
  width: 30px;
  height: 30px;
}

// Picto
.picto{
  height: 30px;
}
.picto-small{
  height: 12px;
}
// ----------- IMAGE ----------
.miniature {
  width: 200px;
}

//  ------------- tag ----
.tag {
  font-family: 'courier-prime';
  color: white;
  border: solid 2px white;
  border-radius: 20px;
  text-align: center;
  margin-left: 2px;
  display: inline-block;
}

.tag-L{
  padding: 4px 12px;
}
.tag-M{
  width: 30px;
  padding: 2px 8px;
}
.tag-S{
  width: 15px;
  height: 15px;
}
.tag-with-pastille{
  padding: 3px 12px;
  background-color: white;
  color: $black;
  border: 1px solid #1b1f2326;
  display:inline-flex;
  align-items: center;
}
.tag-XS{
  border-radius: 20px;
  width: 8px;
  height: 8px;
  margin-right: 5px;
}
.tag-L p {
  margin: 0;
  
}

// ------------- liste ----
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-cases {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mobile-list-item {
  width: auto;
}


// ----------- Tab -----------
.container {
  input {
    display: none;
    &:checked + label {
      // background: #D2D4D5;
      font-weight: bold;
    }
    @for $i from 1 through 2 {
      &#tab#{$i}:checked {
        ~ .line {
          left: #{($i - 1) * 50%};
        }
        ~ .content-container #c#{$i} {
          display: block;
        }
      }
    }
  }
  label {
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 36px;
    width: 50%;
    text-align: center;
    position: relative;
    transition: 0.25s ease;
    cursor: pointer;

    // au survol
    &:hover{
      background: $black5;
    }
    &::after {
      content: "";
      // height: 2px;
      // width: 100%;
      position: relative;
      // display: block;
      // background: #27A4D0;
      opacity: 0;
      transition: 0.25s ease;

    }
    &:hover::after {
      opacity: 1;
      
    }
  }
  .line {
    position:relative;
    height: 3px;
    background: $primary;
    width: 50%;
    left: 0;
    transition: 0.25s ease;
  }

  .content-container {
    position: relative;
    .content {
      position: absolute;
      width: 100%;
      top: 10px;
      display: none;
      transition: 0.25s ease;
    }
  }
}


// -------- formulaire --- 
input, textarea{
  width: auto;
  border: 0px;
  // border-radius: 2px ;
  height: auto;
  margin: 0px 0px 15px 0px;
  background-color: transparent;
}
input:hover, textarea:hover{
  background-color: whitesmoke;
}

input:focus, textarea:focus {
  outline: 0px;
}

.input-titre{
  font-family: 'Euphorigenic';
  width: 100%;
  height: 40px;
  font-size: 35px;
}
.input-sous-titre{
  height: 30px;
  font-size: 25px;
}
.input-texte{
  width: 100%;
  font-family: 'courier-prime';
  min-height: 30px;
}
.input-basic{
  height: 30px;
  margin: 5px;
  padding-left: 5px;
}
.input-tag{
  background-color: white;
  color: $black;
  border: 1px solid #1b1f2326;
}

// .input-btn{
//   cursor: pointer;
// }
.input-date-S{
  width: 40px;
  height: 30px;
  background-color: white;
  margin: 0px 5px;
}
.input-date-M{
  width: 80px;
  height: 30px;
  background-color: white;
  margin: 0px 10px;
}

.checkbox{
  margin-bottom: 2px;
  cursor: pointer;
}
.checkbox:focus{
  outline: 0px;
}


.input-recherche{
  background-color: white;
  height: 30px;
  width: 300px;
  border: 1px solid #1b1f2326;
  border-radius: 5px;
  margin-right: 5px;
}


// A REFAIRE = PAS ASSEZ REUTILISABLE
// --- Bouton ---

button {
  cursor: pointer;
}
// nav
.btn-discret{
  background-color: transparent;
  border: none;
  border-radius: 6px;
}
.btn-discret:hover{
  background-color: #F3F4F6;
}

// gestion 
.btn-crud-modal{
  background-color: white;
  color: #24292E;
  transition: background-color 0.1s cubic-bezier(0.3, 0, 0.5, 1);

  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  white-space: nowrap;
  width: 100%;
  word-wrap: break-word;
  display: flex;
  // justify-content: space-between;
  // vertical-align: middle;
}

.btn-crud-modal:hover{
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}
.btn-crud-modal > i {
  margin-right: 10px;
}

// 
.crud-haut-droite{
  position: absolute;
  top: 10px;
  right: 10px;
}
.crud-haut-gauche{
  position: absolute;
  top: 10px;
  left: 10px;
}

.btn-crud {
  background-color: white;
  border: 1px solid #1b1f2326;
  color: rgba(27, 31, 35, 0.15);
  height: 25px;
  width: 32px;
  border-radius: 6px;
  margin: 1px;
  position: relative;
  display: inline-block;
  opacity: 0; /* Initialement caché */
  transition: opacity 0.2s ease;
}
.btn-crud:hover {
  color: #1A2F37;
}



.btn-primary{
  background-color: #F3F4F6;
  border: 1px solid #1b1f2326;
  border-radius: 6px;
  box-shadow: #1b1f230a 0 1px 0, #ffffff40 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  padding: 10px 20px;
  // position: relative;
  transition: background-color 0.1s cubic-bezier(0.3, 0, 0.5, 1);
  
  white-space: nowrap;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.btn-primary:hover{
  background-color: white;
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn-primary:disabled {
  background: linear-gradient(45deg, #F3F4F6 5%, #fff 5%, #fff 45%, #F3F4F6 45%, #F3F4F6 55%, #fff 55%, #fff 95%, #F3F4F6 95%);
  background-size: 10px 10px;
  
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.btn-primary:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn-primary:focus {
  outline: 1px transparent;
}

.btn-primary > i {
  margin-right: 5px;
}
// PARTICULIER
.btn-flottant-bas-droite{
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 10;
}
.btn-flottant-bas-gauche{
  position: fixed;
  bottom: 1%;
  left: 1%;
  z-index: 10;
}
.btn-flottant-haut-droite{
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: 10;
}
.btn-flottant-haut-gauche{
  position: fixed;
  top: 1%;
  left: 1%;
  z-index: 10;
}


// TAILLE

.btn-medium{
  height: 30px;
}
.btn-small{
  padding: 5px 10px;
}

// Bouton Switch 
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  // Taille du contenant
  width: 3em;
  height: 1.5em;
  margin: -4px 8px 0px 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, 0.329);
  transition: .4s;
  border-radius: 30px;
  // couleur off
  background-color: #437C90;
}

.slider:before {
  position: absolute;
  content: "";
  // taille de la bille
  height: 1em;
  width: 1em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: rgb(255, 255, 255);
  transition: .4s;
}

.switch input:checked + .slider {
  // couleur on
  background-color: #27A4D0 ;
}

.switch input:focus + .slider {
  box-shadow: inset 3px 2px 4px rgba(22, 22, 22, 0.253);
}

.switch input:checked + .slider:before {
  // Deplacement distance
  transform: translateX(1.5em);
}


// tooltip
.tooltip {
  position: relative;
  display: inline-block;
  // margin: 0px 8px;
  // border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  font-family: 'NotoSans-Black';
  letter-spacing: 1px;
  visibility: hidden;
  background-color: #2E4249;
  border: 1px solid white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  margin-left: -60px;
  opacity: 0;
  // transition-delay: 0.2s;
  transition-property: opacity 0.3s;
}
.tolltiptexte-small-top{
  width: 120px;
  bottom: 125%;
  left: 50%;
}
.tolltiptexte-left{
  width: 250px;
  right: 120%;
}
.tolltiptexte-small-bottom{
  width: 120px;
  top: 125%;
  left: 50%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}
.tolltiptexte-small-top:after{
  top: 100%;
  left: 50%;
  // pour faire le petit triangle
  border-color: #2E4249 transparent transparent transparent;
}
.tolltiptexte-left:after{
  top: 35%;
  left: 102%;
  border-color:  transparent transparent transparent #2E4249 ;
}
.tolltiptexte-small-bottom:after{
  bottom: 100%;
  left: 50%;
  // pour faire le petit triangle
  border-color: transparent transparent #2E4249 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

// ---------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------


.image-couverture-card-tempo {
  height: 100px;
  border-radius: 10px 10px 0px 0px;
}

.image-couverture-card-element-tempo {
  height: 100px;
  background-color: white;
}
.couleur-element-tempo{
  background-color: #D2D4D5;
}


.image-de-fond{
  width: 100%;
  object-fit: cover;

}
.container-image-couverture-page{
  height: 250px;
}
.container-image-couverture-page-S{
  height: 100px;
}
.container-image-couverture-homePage{
  min-height: 350px;
  background-size: cover;
  background-position-y: center;
}
.img-tiroire{
  background-image: url("../src/assets/images/accueil/archiveVideZoom.jpg");
}
.img-admin{
  background-image: url("../src/assets/images/accueil/pexels-tima-miroshnichenko-6549364.jpg");
}


.container-img-text {
  display: flex;
  justify-content: space-between;
}

.text {
  flex: 3;
  position: relative;
    // z-index: 1;
    // margin-right: -150px;
}

.image {
  flex: 1;
}

.image img {
  max-height: 500px;
  width: auto;
}


.valide{
  background-color: $succes;
}
.error{
  background-color: $error;
} 
.container-general{  
  min-height: 500px;
}



// ---------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------
// ------------- TAILLE ET ESPACEMENT -----------
// ------ Different support ----
// telephone
@media (min-width: 0px) and (max-width: 768px) {
  .titre-site{
    font-size: 100px;
  }
  .container-image-couverture-homePage{
    height: 300px;
  }
  .btn-flottant-haut-droite{
    right: 5%;
  }
  .nav-barre{
    opacity: 1;
  }
  .marges{
      margin: 0% 4% 0% 4%;
  }
  .card{
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 3%;
  }
  .btn-crud {
    opacity: 1; 
    color: #1A2F37;
  }
  .input-recherche{
    width: 220px;
  }
  .complete {
    width: 100%;
  }
  .large {
    width: 95%;
  }
  .medium, .small, .extra-small {
    width: 45%;
  }

  .margin-droite-flexible{
    right: 1%;
  }
  .espacement-entre-article{
    display: inline-block;
    justify-content: none;
  }
  .btn-flottant-bas-droite{
    right: 10%;
  }

  .mobile-list-item {
      width: 30%;
  }
  .tooltip {
    margin: 3px 5px;
  }


  .container-img-text {
    display: inline-block;
  }
  
  .image {
    display: none;
  }
  .image-fillette{
    background-image: url("../src/assets/images/accueil/pexels-tima-miroshnichenko-6549373.jpg");
    background-size: cover;
    background-position-y: center;
  }
  
  .text {
    z-index: 20;
    text-align: center;
    color: white;
  }
  
}
//  tablette
@media (min-width: 768px) and (max-width: 1024px) { 
  .marges{
      margin: 0% 10% 0% 10%;
  }
  .nav-barre{
    opacity: 1;
  }
  .card{
    margin: 10px;
  }
  .btn-crud {
    opacity: 1; 
    color: #1A2F37;
  }
  .complete {
    width: 100%;
  }
  .large {
    width: 95%;
  }
  .medium, .small, .extra-small {
    width: 45%;
  }
  .margin-droite-flexible{
    right: 10%;
  }
}
//  ordi et plus
@media (min-width: 1024px) { 
  .marges{
      margin: 0% 20% 0% 20%;
  }
  .card{
    margin: 1%;
  }
  .complete {
    width: 100%;
  }
  .large {
    width: 45%;
  }
  .medium {
    width: 23%;
  }
  .small {
    width: 25%;
  }
  .extra-small {
    width: 15%;
  }
  .margin-droite-flexible{
    right: 20%;
  }
}

