.container-general{  
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.container-image{
    background-color: #D2D4D5;
    height: 200px;
    width: 50%;
    margin: 20px;
    
}
.image-carrousel{
    width: 100%;
    height: auto;
    display: block;
}
.container-texte{
    padding: 20px;
    width: 50%;
}

h2, h3{
    margin: 0;
}

// frise chrono 
.design-section {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // min-height: 70vh;
    padding: 50px 0;
  }
  
//   .design {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  
  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .timeline-middle {
    position: relative;
  //   récupérer la ou les couleurs de période
    background-image: linear-gradient(45deg, #9d0208, #dc2f02, #f48c06);
    // background-image: linear-gradient(45deg, #6a040f, #e85d04, #ffba08);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    //   récupérer la ou les couleurs de période
    background-image: linear-gradient(45deg, #9d0208, #dc2f02, #f48c06);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .timeline-content {
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
    position: relative; 
  }
  
  .timeline-component {
    margin: 0px 20px 20px 20px;
  }

  .btn-crud {
    background-color: white;
    border: 1px solid rgba(27, 31, 35, 0.15);
    color: rgba(27, 31, 35, 0.15);
    height: 28px;
    width: 35px;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0; /* Initialement caché */
    transition: opacity 0.2s ease;
  }
  
  .timeline-content:hover .btn-crud {
    opacity: 1; /* Apparaît au survol */
  }
  
  .btn-crud:hover {
    color: #1A2F37;
  }

  
  @media screen and (min-width: 768px) {
    .timeline {
      display: grid;
      grid-template-columns: 0.2fr 3px 1fr;
    }

  }




// telephone
@media (min-width: 0px) and (max-width: 768px) {
    .image-couverture-page-tempo{
        height: 100px;
    }
    .container-image{
        width: 90%;
        height: 200px;
        margin-bottom: 50px;
    }

    .container-texte{
        width: 90%;
        // background-color: rgb(67, 165, 42);

    }
  }
  //  tablette
  @media (min-width: 768px) and (max-width: 1024px) { 
    .image-carrousel{
        width: auto;
        max-height: 200px;
        background-color: chocolate;
    }
  }
