<!-- Ici page détail d'un ELEMENT en fonction de son identifiant -->
<header>
    <div class="container-image-couverture-page couleur-element-tempo" *ngIf="element.imageUrl === '' else imageCouv">
    </div>
    <ng-template #imageCouv>
        <img src="{{ element.imageUrl }}" class="container-image-couverture-page image-de-fond">
    </ng-template>
</header>

<section class="marges">
    <article>
        <div>
            <h1>{{ element.label }}</h1>
        </div>
        <div class="espacement-vertical-L"></div>
    </article>
    <div class="container">
        <input type="radio" id="tab1" name="tab" checked>
        <label for="tab1">Générale</label>

        <input type="radio" id="tab2" name="tab">
        <label for="tab2">Chronologie</label>
        <div class="line"></div>

        <div class="content-container">
            <!-- onglet 1 -->
            <div class="content" id="c1">
                <article>
                    <div *ngIf=" element.description.length <= 1">
                        <div class="centro-centrer-XS">
                            <h2 class="centrer-en-colonne"><i class="fa-solid fa-box-open"></i>Aucune description
                            </h2>
                        </div>
                    </div>
                    <div *ngIf=" element.description.length >= 1">
                        <p class="espacement-vertical-L conserve-espace-origine"><span
                                class="souligner">Description</span>
                            : {{
                            element.description }}</p>
                    </div>

                </article>
                <div class="espacement-vertical-XL"></div>
            </div>

            <!-- Onglet 2 -->
            <div class="content" id="c2">
                <article class="design-section">
                    <div *ngIf=" evenements.length < 1" Else="WithDate">
                        <div class="centro-centrer-XS">
                            <h2 class="centrer-en-colonne"><i class="fa-solid fa-box-open"></i>Aucun
                                événement
                            </h2>
                        </div>
                    </div>
                    <div #WithDate>
                        <div *ngFor="let evenement of evenements">
                            <div class="timeline">
                                <div class="timeline-empty"></div>
                                <div class="timeline-middle">
                                    <div class="timeline-circle"></div>
                                </div>
                                <!-- Carte de chaque EVENEMENT -->
                                <div class="timeline-component timeline-content">
                                    <div class="centrer-sur-horizon">
                                        <h3 class="souligner">{{ evenement.label }}</h3>
                                        <div class="centrer-milieu crud-haut-droite">
                                            <!-- MODIFIER -->
                                            <button class="btn-crud tooltip"
                                                (click)="openPopupUpdateEvent(evenement._id)">
                                                <i class="fa-solid fa-pencil"></i>
                                                <span class="tooltiptext tolltiptexte-small-top">Modifier</span>
                                            </button>
                                            <!-- SUPPRIMER -->
                                            <button class="btn-crud tooltip" (click)="deleteEvenement(evenement._id)">
                                                <i class="fa-solid fa-trash"></i>
                                                <span class="tooltiptext tolltiptexte-small-top">Supprimer</span>
                                            </button>
                                        </div>


                                    </div>

                                    <div>
                                        <div *ngIf=" evenement.jour != null && evenement.mois != null">
                                            <p>{{ evenement.jour }} / {{ evenement.mois }} / {{ evenement.annee }}</p>
                                        </div>
                                        <div *ngIf=" evenement.jour == null && evenement.mois == null">
                                            <p>{{ evenement.annee }}</p>
                                        </div>
                                        <div *ngIf=" evenement.heure != null && evenement.minute != null">
                                            <p>{{ evenement.heure }} : {{ evenement.minute }}</p>
                                        </div>
                                    </div>
                                    <div class="saut-de-ligne-M"></div>
                                    <p class="conserve-espace-origine">{{ evenement.detail }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article *ngIf="isCreator === true" class="btn-flottant-bas-droite">
                    <!-- AJOUTER UN EVENT : ouvre pop up formulaire -->
                    <button (click)="openPopupAddEvent(element._id)" [disabled]="isDisabled" class="btn-primary">
                        <i class="fa-solid fa-plus"></i>
                        <p>Ajouter un événement</p>
                    </button>
                </article>
            </div>
        </div>
    </div>
</section>