.container-general{  
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.container-image{
    background-color: #D2D4D5;
    height: 200px;
    width: 50%;
    margin: 20px;
    
}
.image-carrousel{
    width: 100%;
    height: auto;
    display: block;
}
.container-texte{
    padding: 20px;
    // background-color: brown;
    width: 50%;
}

h2, h3{
    margin: 0;
}