<article class="centrer-en-colonne centro-centrer">
    <img src="assets/logo/LogoFond.svg">
    <div class="espacement-vertical-M"></div>
    <button class="btn-primary btn-small espacement-vertical-S" (click)="openPopupLog(false)">Se
        connecter</button>
    <button class="btn-primary btn-small espacement-vertical-S" (click)="openPopupLog(true)">S'inscrire</button>
    <button class="btn-primary btn-small espacement-vertical-S" (click)="navigateHomePage()">Continuer en tant que
        visiteur</button>
</article>