<h3>Choisir une image </h3>
<div class="boite-a-image">
    <form>
        <div class="centrer-en-colonne espacement-vertical-M">
            <!-- pour que la recherche se lance des que le texte de l'input change -->
            <!-- <input type="search" class="input-recherche" id="query" placeholder="Rechercher une image..." (input)="onInputChange($event) "/>-->

            <!-- pour declancher la recherche au clci sur btn -->
            <div class="centrer-sur-horizon">
                <input type="search" class="input-recherche" id="query" placeholder="Rechercher une image..."
                    [(ngModel)]="query" name="query" />
                <button class="btn-primary btn-small centrer-milieu" (click)="getPhotos()"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>

    </form>
    <div class="row">
        <div *ngIf="photos.length == 0" class="centrer-en-colonne">
            <h2 class="centrer-en-colonne"><i class="fa-solid fa-box-open"></i>Aucune photo ne correspond à votre
                recherche
            </h2>
            <div class="espacement-vertical-M"></div>
        </div>
        <div *ngFor="let photo of photos" class="col-md-4">
            <div class="card mb-4" (click)="getPhotoDetails(photo.id)">
                <!-- ici pour n'avoir que des ophotos horizontale -->
                <img [src]="photo.src.landscape" alt="Photo aléatoire" class="card-img-top">
                <div class="card-body">
                    <p>{{ photo.photographer }}</p>
                    <p class="card-text">ID: {{ photo.id }}</p>
                    <a href="{{ photo.photographer_url }}" target="_blank"
                        class="texte-discret texte-small centrer-sur-horizon">
                        <p>Voir le profil du photographe</p>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>

                    </a>
                </div>
            </div>
        </div>
    </div>
    <a href="https://www.pexels.com" class="texte-discret texte-small centrer-sur-horizon">
        <p>Photos provided by Pexels</p><i class="fa-solid fa-arrow-up-right-from-square"></i>
    </a><br>
    <a href="https://www.pexels.com">
        <img class="api-logo" src="https://images.pexels.com/lib/api/pexels.png" />
    </a>

</div>