<section *ngIf="IsAcces" class="container-image-couverture-homePage img-admin">
    <article>
        <div class="centrer-sur-horizon centrer-en-colonne">
            <h1 class="titre-site texte-blanc">Gestionnaire</h1>
        </div>
    </article>
</section>

<section *ngIf="IsAcces">
    <div class="espacement-vertical-L"></div>
    <!-- <h1 class="marges">Gestionnaire Collectio</h1> -->
    <article class="marges espacement-autour">
        <div class="carte complete around">
            <p>Nombre de collections publiques : </p>
            <p class="mega-chiffre"> {{publicCollections.length}} </p>
        </div>
        <!-- <li *ngFor="let periode of periodes" class="carte around small" [ngStyle]="{'background': periode.couleur}">
            <div>
                <p>{{ periode.label }}</p>

                <p class="mega-chiffre">{{ periode.collectionsId.length }}</p>
            </div>
        </li> -->
    </article>

</section>

<section *ngIf="IsAcces" class="container-general">
    <article class="marges">
        <div class="container">
            <!-- TITRE DES ONGLETS  -->
            <input type="radio" id="tab1" name="tab" checked>
            <label for="tab1">
                <p class="titre-onglet">À la une</p>
            </label>

            <input type="radio" id="tab2" name="tab">
            <label for="tab2">
                <p class="titre-onglet">Signalées</p>
            </label>
            <div class="line"></div>
            <!-- ----- -->

            <div class="content-container">
                <!-- onglet 1 -->
                <div class="content container-onglet" id="c1">
                    <ul>
                        <li *ngFor="let une of unes" class="card around large motif-fond-pointille">
                            <app-collections [collectionId]="une.collectionId"></app-collections>
                            <!-- BOUTON RETIRER DE LA UNE -->
                            <button class="btn-crud-red espacement-entre" (click)="removeUne(une._id)">
                                <i class="fa-regular fa-star"></i>
                                <p>Retirer de la une</p>
                            </button>
                        </li>
                        <li *ngIf="unes.length === 0">
                            <div class="centro-centrer-S">
                                <h2 class="centrer-en-colonne"><i class="fa-solid fa-box-open"></i>Aucune collection
                                </h2>
                            </div>

                        </li>
                    </ul>
                    <div class="espacement-vertical-XL"></div>
                </div>

                <!-- Onglet 2 -->
                <ng-container>
                    <div class="content container-onglet" id="c2">
                        <div class="centrer-sur-horizon centrer-milieu">
                            <p>Tous</p>
                            <label class="switch">
                                <input type="checkbox" id="switch" (change)="toggleSignalementReponse($event)"><span
                                    class="slider">
                                </span>
                            </label>
                            <p>Avec reponse</p>
                        </div>

                        <ul class="espacement-autour">
                            <li *ngFor="let signalement of AllSignalements"
                                class="card around complete motif-fond-carreaux">
                                <div class="padding-S">
                                    <div *ngIf="signalement.reponseUtili == ''">
                                        <div class="centrer-sur-horizon">
                                            <div class="tag tag-S error"></div>
                                            <p class="texte-error">Signalement actif</p>
                                        </div>
                                        <div class="espacement-vertical-S"></div>
                                    </div>
                                    <div *ngIf="signalement.reponseUtili !== ''">
                                        <div class="centrer-sur-horizon">
                                            <div class="tag tag-S valide"></div>
                                            <p class="texte-success">Signalement en attente d'analyse</p>
                                        </div>
                                        <div class="espacement-vertical-S"></div>
                                    </div>
                                    <p style="float: right;">{{ signalement.date |
                                        date:'dd/MM/yyyy' }}</p>
                                    <p>N°: {{ signalement._id }}</p>
                                    <p>Collection : <strong style="cursor: pointer;"
                                            [routerLink]="['/collections', signalement.collectionId._id]">" {{
                                            signalement.collectionId.label }} "</strong>
                                    </p>
                                    <div class="espacement-vertical-M"></div>
                                    <p class="souligner">Motif du signalement :</p>
                                    <p class="padding-XS">« {{ signalement.description }} »</p>
                                    <br>

                                    <div *ngIf="signalement.reponseUtili !== ''">
                                        <p>----------</p>
                                        <!-- <div *ngIf="signalement.reponseUtili !== ''">
                                            <p class="surligner">L'utilisateur à répondu</p>
                                        </div> -->
                                        <br>
                                        <p style="float: right;">{{ signalement.reponseDate |
                                            date:'dd/MM/yyyy' }}</p>
                                        <p class="souligner">Réponse utilisateur : </p>

                                        <p class="padding-XS">« {{ signalement.reponseUtili }} »</p>
                                        <div class="saut-de-ligne-M"></div>
                                        <div class=" espacement-autour">
                                            <button class="btn-primary btn-small"
                                                (click)="suppSignalementCollection(signalement.collectionId._id, signalement._id)">Fermer
                                                le signalement</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="AllSignalements.length === 0">
                                <div class="centro-centrer-S">
                                    <h2 class="centrer-en-colonne"><i class="fa-solid fa-box-open"></i>Aucun
                                        signalement
                                    </h2>
                                </div>
                            </li>
                        </ul>
                        <div class="espacement-vertical-XL"></div>
                    </div>
                </ng-container>
            </div>
        </div>
    </article>
</section>
<br>
<section *ngIf="IsAcces" class="container-general">
    <article class=" marges">
        <!-- RECHERCHE PAR MOT CLEF -->
        <div class="centrer-en-colonne">
            <div class="centrer-sur-horizon espacement-vertical-M">
                <input class="input-recherche" type="search" [(ngModel)]="searchTerm"
                    placeholder="Rechercher une collection..." />
                <button class="btn-primary btn-medium centrer-milieu"><i
                        class=" fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
        <h2>Toutes les collections publiques</h2>
        <ul class="espacement-autour">
            <li *ngFor="let collection of publicCollections | filterCollection: searchTerm"
                class="card around small motif-fond-pointille">
                <app-collections [collectionId]=" collection"></app-collections>
                <!-- BOUTON SIGNALER -->
                <button class="btn-crud-red espacement-entre" (click)="openPopupSignalement(collection._id)">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    <p>Signaler</p>
                </button>
                <br>
                <!-- BOUTON AJOUTER A LA UNE -->
                <button class="btn-crud-green espacement-entre" (click)="addToUne(collection._id)">
                    <i class="fa-solid fa-star"></i>
                    <p>Ajouter à la une</p>
                </button>
            </li>
        </ul>
    </article>
    <!-- formulaire signalement pop up -->
    <article *ngIf="formSignalement === true">
        <app-popup>
            <article class="centrer-sur-horizon">
                <button class="crud-haut-droite btn-discret btn-small" (click)="ClosePopupSignalement()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </article>
            <article class="padding-S">
                <h2>Signalement de la collection {{ collection.label }}</h2>

                <form [formGroup]="newSignalement" (ngSubmit)="createSignalementCollection()">
                    <article>
                        <div class="saut-de-ligne-M"></div>
                        <p>Description de la raison du signalement :</p>
                        <textarea rows="8" type="text" id="description" formControlName="description"
                            placeholder="Expliquez la raison du signalement" class="input-texte"></textarea>
                        <article class="centrer-en-colonne">
                            <div class="saut-de-ligne-M"></div>
                            <div class="fixe-bottom">
                                <button type="submit" [disabled]="newSignalement.invalid" class="btn-primary">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                    <p>Valider le signalement</p>
                                </button>
                            </div>
                        </article>
                    </article>
                </form>
            </article>
        </app-popup>

    </article>
</section>
<section *ngIf="IsAcces == false">
    <div class="centro-centrer">
        <div class="centrer-en-colonne">
            <h1 class="fa-solid fa-ghost"></h1>
            <h2>Oust ! Il n'y a rien à voir</h2>
        </div>
    </div>
</section>