.carte{
    height: 100px;
    background-color:#2E4249;
    padding: 10px;
    margin: 10px;
    color: whitesmoke;
}

.mega-chiffre{
    font-size: 50px;
    padding: 10px;
}

.btn-crud-red, 
.btn-crud-green{
    opacity: 0.5;
    // background-color: #f0aa9b;
    border: none;
    color: #24292E;
    padding: 5px 2%;
    bottom: 5px;
    transition: background-color 0.1s cubic-bezier(0.3, 0, 0.5, 1);
    
    white-space: nowrap;
    word-wrap: break-word;
    display: flex;
    
    width: 100%;
  }
  .carte:hover .btn-crud-red, 
  .carte:hover .btn-crud-green {
    opacity: 0.5; 
  }
  .btn-crud-red:hover{
    opacity: 1;
    background-color: #cd3217;
    color: white;
    text-decoration: none;
    transition-duration: 0.1s;
  }

  .btn-crud-green:hover{
    opacity: 1;
    background-color: #43A960;
    color: white;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  // .container-onglet{
  //   box-shadow: inset 0px -40px 25px -12px rgba(0,0,0,0.1);
  //   max-height: 430px;
  //   overflow-y: scroll;
  //   overflow-x: visible;
  //   scrollbar-width: thin;
  // }

  .container-general{  
    min-height: 700px;
  }